.main_block
  height: 100vh
  position: relative
  background: rgb(255,255,255)
  z-index: 2

.main_block:before
  width: 100vw
  top: -300px
  position: absolute
  content: ''
  height: 300px
  pointer-events: none
  background: rgb(255,255,255)
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 26%)