.head
  opacity: 0.8
  padding-left: 15px
  padding-right: 15px

//.head::before
//  content: ""
//  position: absolute
//  top: 0
//  left: 0
//  right: 0
//  bottom: 0
//  backdrop-filter: blur(5px)
//  -webkit-backdrop-filter: blur(5px)
.blure
  position: fixed
  backdrop-filter: blur(15px)
  -webkit-backdrop-filter: blur(15px)

.heads
  max-width: 1500px

.login
  width: 82px





