::-webkit-scrollbar
  display: none

@keyframes snow
  0%
    background-position: 0px 0px, 0px 0px, 0px 0px

  100%
    background-position: 600px 1800px, 600px 1200px, 600px 600px



.sneg
  position: absolute
  background: url("./img/qar/background1.png"), url("./img/qar/background2.png"), url("./img/qar/background3.png")
  filter: blur(2px)
  height: 100vh
  width: 100vw
  top: 0
  left: 0
  animation: snow 30s linear infinite

//.modal-backdrop
//  background-color: rgba(255, 255, 255, 0.6)
//  backdrop-filter: blur(2px)



